@import './colors.scss';
@import './products.scss';
@import './form.scss';
html {
  font-size: 62.5%;
  @media (max-width: 1280px) {
    font-size: 50%;
  }
  @media (max-width: 767px) {
    font-size: 46%;
  }
}

.App {
  &__box {
    &--header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      img {
        width: 330px;
        @media (max-width: 992px) {
          width: 270px;
        }
        @media (max-width: 767px) {
          width: 230px;
        }
        @media (max-width: 680px) {
          width: 200px;
        }
      }
      h1 {
          font-size: 6.2rem;
          font-family: "Myriad Pro";
          color: $gray;
          line-height: 1;
          font-weight: 400;
          margin-top: 130px;
          padding-right: 20px;
          padding-left: 20px;
          text-align: center;
          @media (max-width: 992px) {
            margin-top: 70px;
          }
          &:after {
            content: '.';
            color: $red;
            position: absolute;
          }
      }
    }

    &--content {
      overflow: hidden;
      margin-top: 160px;
      padding-top: 15px;
      padding-left: 115px;
      padding-bottom: 75px;
      position: relative;
      @media (max-width: 992px) {
        margin-top: 100px;
      }
      @media (max-width: 767px) {
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
      }
    }
  }
}

.Render {
  &__box {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 2;
    &--background {
      background-color: $red;
      position: absolute;
      min-height: 100vh;
      width: 100%;
      margin-top: 230px;
      z-index: 1;
      left: 0;
      height: 100%;
      }
  }
}

